<link rel="stylesheet" href="styles/cover.css">

<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Autonomous Agent 1</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#/single-agent-planning">SAP</a></li>
							<li><a href="#/single-agent-learning">SAL</a></li>
							<li><a href="#/multi-agent-system">MAS</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="inner cover">
				<h1 class="cover-heading">AA demo</h1>
				<p class="lead">
					is an implementation of </br> Markov Decision Process (MDP) algorithms.
				</p>
				<p>
					This implementation shows three cases: </br>
					<a href="#/single-agent-planning">Single-agent planning</a>,</br>
					<a href="#/single-agent-learning">Single-agent learning</a>, and </br>
					<a href="#/multi-agent-system">Multi-agent system</a>
				</p>
				<!--<p class="lead">-->
					<!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
				<!--</p>-->
			</div>

			<div class="mastfoot">
				<div class="inner">
					<p>An implementation project for <a href="http://uva.nl">AA1</a>, by <a href="https://github.com/finde/AAdemo">AAdemo</a>.</p>
				</div>
			</div>

		</div>

	</div>

</div>

<div class="page-image-citation">
	Image source: Skecthbook Jack. <em>Albert Einstein Physics Chalk Board Math</em>
	http://www.wallpaperup.com/117894/Albert_Einstein_Physics_Chalk_Board_Math.html
</div>