<div class="container">
	<div id="content" ng-controller='GameController as ctrl'>
		<!-- heading -->
		<div id="heading" class="row">
			<h1 class="title">Single Agent Planning</h1>
		</div>

		<!-- settings -->
		<div id="settings" class="row">
			<div class="row" style="margin-bottom: 10px">

				<div class="col-xs-4">
					<div class="worldSize-container">
						<input type="number" class="form-control" min="2" max="30" placeholder="11" ng-model="ctrl.settings.worldSize">
					</div>
				</div>

				<div class="col-xs-4">
					<div class="predatorLocation-container">
						<input type="text" class="form-control" placeholder="0,0" ng-model="ctrl.settings.predatorInitLocation">
					</div>
				</div>

				<div class="col-xs-4">
					<div class="preyLocation-container">
						<input type="text" class="form-control" placeholder="{{ctrl.settings.worldSize-1}},{{ctrl.settings.worldSize-1}}" ng-model="ctrl.settings.preyInitLocation">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 text-right" style="margin-bottom: 10px">
					<span ng-if='ctrl.isBusy'
					      class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
					<span>
						{{ctrl.message}}
					</span>
					<button ng-click='ctrl.newGame()' ng-disabled="ctrl.isBusy" class="btn restart-button">Start</button>
				</div>
			</div>

			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-3">
					<button ng-click="ctrl.showTestResult()" ng-disabled="!ctrl.isReady['policyEvaluation']" class="btn mode-button">
						Test Result
					</button>
				</div>
				<div class="col-xs-3" ng-repeat="mode in ctrl.modes">
					<button ng-click="ctrl.selectMode(mode.id)"
					        ng-disabled="!ctrl.isReady[mode.id]"
					        ng-class="{'true':'active', 'false':'innactive'}[ctrl.selectedMode==mode.id]"
					        class="btn mode-button">
						{{mode.name}}
					</button>
				</div>

			</div>
		</div>

		<div class="row">
			<button class="col-xs-2 btn restart-button glyphicon" style="width: 10%; margin-right:1%"
			        ng-class="{'true':'glyphicon-play', 'false':'glyphicon-pause'}[!ctrl.player.isPlay]"
			        ng-click="ctrl.player.play()"></button>
			<button class="col-xs-2 btn restart-button glyphicon glyphicon-step-forward" style="width: 10%; margin-right:1%"
			        ng-click="ctrl.player.stepForward()"></button>
			<div class="col-xs-6 restart-button" style="width: 78%">
				<input type="range" ng-model="ctrl.settings.currentStep" min="0" max="{{ctrl.settings.finalStep}}" ng-change="ctrl.previewStep()" style="margin-top: 12px">
			</div>
		</div>

		<div id="game-container">
			<div grid ng-model='ctrl.game' class="row"></div>
			<div id="test-result" ng-show="ctrl.isShowResult">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel col-xs-12">
							<h4>Random Policy (100 test):</h4>

							<p>
								Mean = {{ctrl.calculatedPlan.randomPolicy.stats.mean}}</br>              Std. Deviation = {{ctrl.calculatedPlan.randomPolicy.stats.standardDev}}</br>
							</p>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="panel col-xs-12">
							<h4>Policy Evaluation:</h4>
							<table class="table">
								<tr>
									<th>Predator</th>
									<th>Prey</th>
									<th>Value</th>
								</tr>
								<tr ng-repeat="s in ctrl.calculatedPlan.policyEvaluation.scenario">
									<td>{{s.predator.x}}, {{s.predator.y}}</td>
									<td>{{s.prey.x}}, {{s.prey.y}}</td>
									<td>{{s.policy.value}}</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="panel col-xs-12">
							<h4>Policy Iteration:</h4>
							<table class="table">
								<tr>
									<th>Discount Factor</th>
									<th># Iteration</th>
								</tr>
								<tr ng-repeat="s in ctrl.calculatedPlan.policyIteration">
									<td>{{s.discountFactor}}</td>
									<td>{{s.iteration}}</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="panel col-xs-12">
							<h4>Value Iteration:</h4>
							<table class="table">
								<tr>
									<th>Discount Factor</th>
									<th># Iteration</th>
								</tr>
								<tr ng-repeat="s in ctrl.calculatedPlan.valueIteration">
									<td>{{s.discountFactor}}</td>
									<td>{{s.iteration}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>