<!DOCTYPE html>
<html>
  <head>
    <title>MDP demo</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	  <meta charset="utf-8">
	  <title>Autonomous Agent 1</title>
	  <meta name="description" content="">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/_bower.css">
    <link rel="stylesheet" href="/styles/cover.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body ng-app="gridWorldApp">
	  <%- body %>

    <!--SCRIPTS-->
    <script src="/js/_bower.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/async.js"></script>
    <script src="/js/brain/SingleAgentLearningService.js"></script>
    <script src="/js/brain/agent.js"></script>
    <script src="/js/brain/helperFunctions.js"></script>
    <script src="/js/brain/simulator.js"></script>
    <script src="/js/brain/single_agent_learning/offPolicyMC.js"></script>
    <script src="/js/brain/single_agent_learning/onPolicyMC.js"></script>
    <script src="/js/brain/single_agent_learning/qlearning.js"></script>
    <script src="/js/brain/single_agent_learning/sarsa.js"></script>
    <script src="/js/brain/single_agent_planning/policyEvaluation.js"></script>
    <script src="/js/brain/single_agent_planning/policyIteration.js"></script>
    <script src="/js/brain/single_agent_planning/valueIteration.js"></script>
    <script src="/js/brain/world.js"></script>
    <script src="/js/game/game.js"></script>
    <script src="/js/grid/actor_directive.js"></script>
    <script src="/js/grid/grid_directive.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
