<div id="game-{{ ngModel.worldSize }}">
	<div class="grid-container">
		<div class="grid-cell relative"
		     ng-repeat="cell in ngModel.grid track by $index">

			<!--{{cell.stateSpace.value}}-->

			<!-- for each policy -->
			<div ng-repeat="policy in cell.policy" ng-if="!!!cell.value">
				<div class="arrow glyphicon glyphicon-arrow-{{direction}} dir-{{direction}}"
				     ng-class="{'true':'active'}[policy.action == direction]"
				     ng-repeat="direction in ['left','right','up','down']">

				</div>
			</div>

			<!-- for value grid -->
			<div ng-if="!!cell.value" class="small-font">{{cell.value}}</div>
		</div>
	</div>

	<div class="tile-container">
		<div
				actor actor-role="prey"
				state='prey.state' world-size="ngModel.worldSize"
				ng-repeat='prey in ngModel.preys track by $index'></div>

		<div
				actor actor-role="predator"
				state='predator.state' world-size="ngModel.worldSize"
				ng-repeat='predator in ngModel.predators track by $index'></div>

	</div>
</div>