<div id="content" ng-controller='GameController as ctrl'>
  <!-- heading -->
  <div id="heading" class="row">
    <h1 class="title">Single Agent Planning</h1>
  </div>

  <!-- settings -->
  <div id="settings" class="row">
	  <div class="row" style="margin-bottom: 10px">

		  <div class="col-xs-4">
			  <div class="worldSize-container">
				  <input type="number" class="form-control" min="2" max="30" placeholder="11" ng-model="ctrl.settings.worldSize">
		    </div>
		  </div>

		  <div class="col-xs-4">
			  <div class="predatorLocation-container">
				  <input type="text" class="form-control" placeholder="0,0" ng-model="ctrl.settings.predatorInitLocation">
		    </div>
	  	</div>

		  <div class="col-xs-4">
			  <div class="preyLocation-container">
				  <input type="text" class="form-control" placeholder="{{ctrl.settings.worldSize-1}},{{ctrl.settings.worldSize-1}}" ng-model="ctrl.settings.preyInitLocation">
			  </div>
		  </div>
	  </div>

	  <div class="row">
		  <div class="col-xs-6"  style="margin-bottom: 10px">
			  <button ng-click='ctrl.simulateRandomPolicy(100)' ng-disabled="ctrl.game.win" class="btn restart-button">
				  Run 100 times
				  <small ng-if="ctrl.settings.stats">
				  [
					  {{ctrl.settings.stats.message}}
					  Mean: {{ctrl.settings.stats.mean | number: 2}},
					  StdDev: {{ctrl.settings.stats.standardDev | number: 2}}
				  ]
			    </small>
			  </button>

			  <button ng-click='ctrl.simulatePolicyEvaluation()' ng-disabled="ctrl.game.win" class="btn restart-button">
				  Policy Evaluation (check the console)
			  </button>

			  <button ng-click='ctrl.simulatePolicyIteration()' ng-disabled="ctrl.game.win" class="btn restart-button">
				  Policy Iteration (check the console)
			  </button>

			  <button ng-click='ctrl.simulateValueIteration()' ng-disabled="ctrl.game.win" class="btn restart-button">
				  Value Iteration (check the console)
			  </button>

		  </div>
		  <div class="col-xs-6 text-right"  style="margin-bottom: 10px">
			  <button ng-click='ctrl.stepOnce()' ng-disabled="ctrl.game.win" class="btn restart-button">StepOnce</button>
    		<button ng-click='ctrl.newGame()' class="btn restart-button">Reset</button>
		  </div>
		</div>

	  <div class="col-xs-12">
		  <input type="range" ng-model="ctrl.settings.currentStep" min="0" max="{{ctrl.settings.finalStep}}" ng-change="ctrl.previewStep()">

	  </div>
  </div>

  <div id="game-container">
    <div grid ng-model='ctrl.game' class="row"></div>

    <div id="win" ng-if="ctrl.game.win" class="row game-overlay">
      Nom nom nom! <br/>
      ({{ctrl.game.steps}} steps)

      <div class="lower">
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>
  </div>

</div>
